<div class="container">
  <!-- Header Card -->
  <div class="header-card">
    <div class="header-card-content">
      <div class="title-section">
        <div class="title-icon">
          <mat-icon>local_shipping</mat-icon>
        </div>
        <h1>Dostavljači</h1>
      </div>

      <div class="actions-container">
        <mat-form-field class="search-field" appearance="outline">
          <mat-label>Pretraga...</mat-label>
          <input matInput placeholder="Pretraži dostavljače..." />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <button mat-raised-button color="primary">
          <mat-icon>add</mat-icon>
          Novi dostavljač
        </button>
      </div>
    </div>
  </div>

  <!-- Info napomena -->
  <div class="info-card">
    <mat-icon>info</mat-icon>
    <span>Ovdje raditi ispitni zadatak - prvi modul</span>
  </div>
</div>
