<section class="exam-page">
  <header>
    <h1>Inventurne liste</h1>
    <button mat-flat-button color="primary" (click)="add()"><mat-icon>add</mat-icon>Nova inventura</button>
  </header>
  <div class="table-wrap">
    <table mat-table [dataSource]="items">
      <ng-container matColumnDef="countNumber">
        <th mat-header-cell *matHeaderCellDef>Broj inventure</th>
        <td mat-cell *matCellDef="let row">{{ row.countNumber }}</td>
      </ng-container>
      <ng-container matColumnDef="createdAtUtc">
        <th mat-header-cell *matHeaderCellDef>Datum</th>
        <td mat-cell *matCellDef="let row">{{ row.createdAtUtc | date:'dd.MM.yyyy' }}</td>
      </ng-container>
      <ng-container matColumnDef="itemsCount">
        <th mat-header-cell *matHeaderCellDef>Broj stavki</th>
        <td mat-cell *matCellDef="let row">{{ row.itemsCount }}</td>
      </ng-container>
      <ng-container matColumnDef="totalDifferenceValue">
        <th mat-header-cell *matHeaderCellDef>Vrijednost odstupanja</th>
        <td mat-cell *matCellDef="let row">{{ row.totalDifferenceValue | number:'1.2-2' }}</td>
      </ng-container>
      <ng-container matColumnDef="note">
        <th mat-header-cell *matHeaderCellDef>Napomena</th>
        <td mat-cell *matCellDef="let row">{{ row.note || '-' }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <app-fit-paginator-bar [vm]="this" />
  </div>
</section>
