<div class="container">
  <!-- Header -->
  <div class="header-card mat-elevation-z2">
    <h1>Edit new order shipment</h1>
  </div>

<!--   Form Card -->
  <div class="form-card mat-elevation-z2">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!isLoading || form">
      <!-- Error Message -->
      <div *ngIf="errorMessage" class="error-banner">
        <mat-icon>error</mat-icon>
        <span>{{ errorMessage }}</span>
      </div>

      <!-- Shipment Number -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Shipment Number</mat-label>
        <input
          matInput
          formControlName="shipmentNumber"
          [placeholder]="'SHP-OOOX'"
        />
        <mat-icon matSuffix>inventory_2</mat-icon>
        <mat-error *ngIf="hasError('shipmentNumber')">
          {{ getErrorMessage('shipmentNumber') }}
        </mat-error>
      </mat-form-field>


      <!-- Shipping Cost and Orders Row -->
      <div class="form-row">
        <!-- Price -->
        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Shipping Cost</mat-label>
          <input
            matInput
            type="number"
            formControlName="shippingCost"
            step="0.01"
            [placeholder]="'100'"
          />
          <span matTextPrefix>KM&nbsp;</span>
          <mat-icon matSuffix>payments</mat-icon>
          <mat-error *ngIf="hasError('shippingCost')">
            {{ getErrorMessage('shippingCost') }}
          </mat-error>
        </mat-form-field>

        <!-- Orders -->
        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Orders</mat-label>
          <mat-select formControlName="orderId">
            <mat-option *ngFor="let order of orders" [value]="order.id">
              {{ order.referenceNumber }}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix>category</mat-icon>
          <mat-error *ngIf="hasError('orderId')">
            {{ getErrorMessage('orderId') }}
          </mat-error>
        </mat-form-field>



        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option  [value]="1"> Kreirana </mat-option>
            <mat-option  [value]="2"> USkladistu </mat-option>
            <mat-option  [value]="3"> UDostavi </mat-option>
            <mat-option  [value]="4"> Dostavljena </mat-option>
            <mat-option  [value]="5"> Otkazana </mat-option>
          </mat-select>
          <mat-icon matSuffix>category</mat-icon>
          <mat-error *ngIf="hasError('status')">
            {{ getErrorMessage('status') }}
          </mat-error>
        </mat-form-field>




      </div>

      <!-- Actions -->
      <div class="form-actions">

        <button type="button" mat-stroked-button (click)="onCancel()" [disabled]="isLoading">
          <mat-icon>close</mat-icon>
          {{ 'PRODUCTS.FORM.CANCEL' | translate }}
        </button>

        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="form.invalid || isLoading"
        >
          <mat-icon>save</mat-icon>
          {{ 'PRODUCTS.FORM.UPDATE' | translate }}
        </button>
      </div>
    </form>

    <!-- Loading State -->
    <div *ngIf="isLoading && !form" class="loading-overlay">
      <mat-spinner diameter="50"></mat-spinner>
      <p>Loading order shipment</p>
    </div>
  </div>
</div>

